<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--bean标签：是用来告诉spring要创建什么类的实例，这个标签可以写很多个-->
    <!--class：表示要创建哪个类的实例，这里要写类的全路径，包名.类名-->
    <!--id：其实就是给这个实例起一个别名，有点类似map集合的key一样，以后我们用这个别名就能获取到这个类的实例-->
    <!--默认情况下spring生成的实例是单例，可以通过设置scope做成多例-->
    <bean id="us" class="com.zwy.ioc.service.impl.UserServiceImpl" scope="prototype"/>


    <!--使用注解实现IOC，设置注解扫描路径-->
    <context:component-scan base-package="com.zwy.ioc.service.impl"></context:component-scan>

</beans>